#! /bin/bash

# Arch maintainence
alias auru="yaourt -Syua --nocomfirm"
alias pacreflect='sudo reflector -l 20 -f 10 --save /etc/pacman.d/mirrorlist && sudo pacman -Syyu'
function pipupgrade(){
    pip list --user --outdated --format=freeze |  # List all outdated user-site packages (no globally installed ones)
    grep -v '^\-e' |  # Remove editably installed packages
    cut -d = -f 1  |  # Remove version number
    xargs -r -n1 pip install --user -U  #  Update remaining packages if any
} 

# Set text editor.
export VISUAL="nvim"
export EDITOR="$VISUAL"
alias vim="nvim"
alias vi="nvim"

# Safer `rm`
alias rm='trash'

# Alias an improved `ls`
alias l="exa --classify"
alias la="exa --classify --all"
alias ll="exa --git --classify --header --long"
alias lla="exa --git --classify --header --long --all"
alias lt="exa  --git --classify --tree"
alias lta="exa  --git --classify --tree --all"
alias llt="exa -abghHliST --classify --git"
alias llta=llt
