#! /bin/bash

# Arch maintainence
alias auru="yaourt --sync --refresh --refresh --sysupgrade --aur --noconfirm"  # -Syyua --nocomfirm
alias pacrepo='sudo reflector -l 20 -f 10 --save /etc/pacman.d/mirrorlist'

# if you're into Debian-based OSes
alias upgrade="apt update -y && apt upgrade -y && apt autoremove -y && apt autoclean"

# When is XDG going to be a sensible thing?
export PATH="$HOME/.local/bin:$PATH"

# Set text editor.
export VISUAL="nvim"
export EDITOR="$VISUAL"
alias vim="nvim"
alias vi="nvim"

# Alias
alias l="exa --classify"
alias la="exa --classify --all"
alias ll="exa --git --classify --header --long"
alias lla="exa --git --classify --header --long --all"
alias lt="exa  --git --classify --tree"
alias lta="exa  --git --classify --tree --all"
alias llt="exa -abghHliST --classify --git"
alias llta=llt
